h1, h2, h3, p{
  font-family: Helvetica;
}

.heading{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../../resources/img/pattern.jpeg");
}

h2.subheading{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span.unit-price{
  color:blue;
  font-weight: bold;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}
